*
    border: none
    padding: 0
    background: none
    margin: 0

.header-container 
    margin: 0
    padding: 0
    display: grid
    grid-template-areas: "Logo nav user"
    width: 100%
    border-bottom: 1rem thick blue 
    .Logo
        grid-area: Logo
        background-color: red
        align-items: start
        img
            width: 5rem
    .nav
        background-color: orange
        grid-area: nav
    
    .user
        background-color: green
        grid-area: user

    
    
    