
<app-header></app-header>
<div class="img-content">
    <section>
        <img  class="mySlides" alt="Image 1" src="https://live.staticflickr.com/65535/54020630058_d1fd00c145_o.jpg">
            <p id="Title-English-Tracker">English Skills Tracker</p>
            <p>
                Tracking your progress in communication skills 
            </p>
            <div class="join-us">
                <span>Join us</span>
                
            </div>
    </section>
</div>
<h1>Improve your Comunicative Skills</h1>
<app-card-template></app-card-template>
