

//Background colors     
$primary-color: #F0F1F2
$blue-dark-color:#0F1A59

//Gradient
$primary-gradient:linear-gradient(90deg, rgba(15,26,89,1) 17%, rgba(123,166,60,1) 84%)
$degraded-half-gradient-blue:linear-gradient(transparent,rgba(15,26,89,1) 58%)
// Fonts
$primary-font:"Varela Round", sans-serif

// shadows 

$cards-shadow:0.313rem 0.313rem 0.938rem rgba(0,0 ,0 ,0.9)